.liste-background {
    background-image: url('./wallpaper4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.page-container {
    margin-top: 60px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
  }